<!-- Start joystick node. -->
<launch>
    <!-- start camera node -->
	<include file="$(find realsense2_camera)/launch/rs_camera.launch">
		<arg name="clip_distance"          	value="5"/>
  		<arg name="align_depth"             value="true"/>
		<arg name="linear_accel_cov" 		value="1.0"/>
	</include>

</launch>