<launch>
  <arg default="$(find nightmare_description)/urdf/nightmare.xacro" name="model"/>
	<param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>

  <!-- start nightmare engine node, robot state publisher and state broadcaster -->
  <include file="$(find nightmare)/launch/nightmare_simulated.launch" />

  <!-- start usb joystick parser node -->
  <include file="$(find nightmare_usb_joystick)/launch/joystick.launch" />

  <!-- start joint compatibility layer node -->
  <node name="joint_redirector" pkg="nightmare_gazebo" required="true" type="joint_state_redirector.py" output="screen" />

  <!-- start rviz -->
  <node type="rviz" name="rviz" pkg="rviz" />
  <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find package_name)/rviz/config_file.rviz" /> -->
</launch>