<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find nightmare_control)/config/nightmare_control.yaml" command="load"/>
  <rosparam file="$(find nightmare_control)/config/gazebo_ros_control_params.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/nightmare" args="leg1coxa_position_controller leg1femur_position_controller leg1tibia_position_controller leg2coxa_position_controller leg2femur_position_controller leg2tibia_position_controller leg3coxa_position_controller leg3femur_position_controller leg3tibia_position_controller leg4coxa_position_controller leg4femur_position_controller leg4tibia_position_controller leg5coxa_position_controller leg5femur_position_controller leg5tibia_position_controller leg6coxa_position_controller leg6femur_position_controller leg6tibia_position_controller tail_joint_position_controller joint_state_controller"/>

</launch>