<!-- Start Gazebo. -->
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />
  <param name="/use_sim_time" value="false"/>
  <arg default="$(find nightmare_description)/urdf/nightmare.xacro" name="model"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <rosparam file="$(find nightmare_gazebo)/config/nightmare_control.yaml" command="load"/>
  <rosparam file="$(find nightmare_gazebo)/config/gazebo_ros_control_params.yaml" command="load"/>

  <!-- start gazebo node -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot" />

  <!-- start gazebo model controllers node -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/nightmare" args="leg1coxa_position_controller leg1femur_position_controller leg1tibia_position_controller leg2coxa_position_controller leg2femur_position_controller leg2tibia_position_controller leg3coxa_position_controller leg3femur_position_controller leg3tibia_position_controller leg4coxa_position_controller leg4femur_position_controller leg4tibia_position_controller leg5coxa_position_controller leg5femur_position_controller leg5tibia_position_controller leg6coxa_position_controller leg6femur_position_controller leg6tibia_position_controller tail_joint_position_controller joint_state_controller"/>

  <!-- start joint compatibility layer node -->
  <node name="joint_redirector" pkg="nightmare_gazebo" required="true" type="joint_state_redirector.py"/>
  
</launch>